/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - kawsar bin siraj
 * @created_at  - 
 * @modified_by -
 */


/* fonts import */

/* fonts import -END */






/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
}

:root {
    --mainColor: #F6E3BA;
}

/* reset, root - END */






/* helper , base classes */

/* helper , base classes  - END*/

#item1, #item2, #item3, #item4{
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.title{
    display: grid;
    place-items: center;
    color: #fff;
}
#target-title{
    padding: 70px 0px;
    background-color: aqua;
}
#item1{
    background-color: #F6E3BA;
}
#item2{
    background-color: #e76f51;
}
#item3{
    background-color: #c2e77c;
}
#item4{
    background-color: #9be9dc;
}

.active{
    background-color: blueviolet !important;
    color: red;
}